BasedOnStyle: LLVM

AlignConsecutiveMacros: AcrossEmptyLinesAndComments


ColumnLimit: 120


SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true


IndentWidth: 4


MaxEmptyLinesToKeep: 1

AlignTrailingComments: true
SpacesBeforeTrailingComments: 1

AlignEscapedNewlinesLeft: true

AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: true